<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.share.mapper.CommentMapper">
    <select id="getAll" resultType="Comment">
        SELECT *
        FROM share.comment
    </select>
    <select id="getSearchPages" resultType="Comment">
        SELECT *
        FROM share.comment
        WHERE content LIKE concat('%', #{key}, '%')
    </select>
</mapper>