<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.share.mapper.UserMapper">
    <select id="getAll" resultType="User">
        SELECT *
        FROM share.user
    </select>
    <select id="getUserById" resultType="User">
        SELECT *
        FROM share.user
        WHERE id = #{id}
    </select>
</mapper>